.navbar {
  border-bottom: 1px solid #B30838;
  height: 10rem;
}

.nav-text {
  color: #A7A9AC;
  font-size: 1.4rem;
  font-weight: 400;
}

.nav-link {
  padding: 3rem;
}

.nav-link:not(:last-child) {
  // border-right: 1px solid#B30838;
}
