.Carousel-container {
  padding: 0 25rem;
  // position: relative;

  img {
    position: relative;
  }

  .Carousel-caption {
  
    h3 {
      font-size: 4.5rem;
      font-weight: 700;
      // position: absolute;
      top: 0;
      text-align: left;
    }

    p {
      font-size: 2.5rem;
      text-align: left;
    }
  }
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
  padding: 4rem 2rem;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #000;
  border-radius: 0.7rem;
}
